@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');
h1{
    font-family: 'Roboto Slab', serif;
    margin-top: 100px;
    color: black ;
    margin-left: 50vh;
}
.navbar{
    padding: 10px;
    background-color: black;
    width: 100vw;
    height: 80px;
}
.navbar-links{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 10vw;
}
.navbar-links img{
    width: 100px;
    height: 60px;
    align-self: flex-start;
}
.navbar-links a{
    color: #fff;
    margin-left: 100px;
    font-size: 20px;
    text-decoration: none;
}
.navbar-register{
    display: flex;
    width: 5vw;
    height: 60px;
}
.registration{
    width: 50vw;
    height: 100vh;
    margin: auto;
    /* border: 2px solid black; */
}
.registration p{
    margin-top: 75px;
    font-family: 'Roboto Slab', serif;
}
.registration button{
    width: 200px;
    height: 60px;
    border: 1px solid black;
    margin-top: 4vh;
    margin-left: 1vh;
}
.registration button:hover{
    border: 1px solid gray;
}
input{
    width: 100vh;
    height: 3vh;
    border: 1px solid black;
    border-radius: 5px;

}
.form-control{
    border: none;
}
.footer{
    width: 100vw;
    height: 100px;
    background-color: black;
}
.footer-media{
    display: flex;
    justify-content: space-around;
    width: 90vw;
    margin: auto;
}
.footer-media img{
    width: 50px;
    height: 50px;
}
.footer-media p{
    color: white;
    font-size: 12px;
    float: right;
}