venv/
# Database files
*.sqlite3

# Django migrations
*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py

# Media files
/media

# Static files
/static

# Log files
*.log

# IDE-specific files
.idea/
.vscode/
*.swp
*.swo

# Coverage reports
coverage/
*.cover
*.py,cover

# MyPy
.mypy_cache/
.dmypy.json

__pycache__