@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    color: white;
}
.navbar{
    padding: 20px;
    background-color: black;
    width: 100vw;
    height: 80px;
}
.navbar-links{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 30vw;
}
.navbar-links img{
    height: 50px;
    align-self: flex-start;
    
}
.navbar-links a{
    color: #fff;
    justify-content: flex-start;
    font-size: 20px;
    margin-top: 7px;
    text-decoration: none;
}
.navbar-register{
    display: flex;
    width: 5vw;
    height: 60px;
}



.cardsbg{
    position: absolute;
    width: 2000px;
    height: 435px;
    top: 80px;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
}

.card{
    background-color: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    width: 300px;
    margin: 1rem;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    transition: 1s;
}
.card:hover{
    width: 350px;
    transition: 1s;
}
.card p{
    font-family: 'Roboto Slab', serif;
}
.card img{
    width: 250px;
    align-self: center;
}
.card h2 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.text{
    height: 80px;
}

.text p{
    margin-left: 37vw;
    color: black;
    font-size: 42px;
    font-family: 'Roboto Slab', serif;
}

.product-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
}

.product-bg{
    position: absolute;
    top: 590px;
    width: 100vw;
    z-index: -1;
}

.product-name{
    font-size: 36px;
}

.product-card-img{
    width: 250px;
    align-self: center;
}

.product-card input[type="button"]{
    width: 120px;
    height: 60px;
    border: 1px solid black;
    margin-top: 50px;
    margin-left: 225px;
}

.product-card input[type="button"]:hover{
    border: 1px solid gray;
}

.product-card{
    background-color: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 800px;
    width: 900px;
    margin: 1rem;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.etc{
    width: 200px;
    margin-left: 190px;
}
.product-card h2 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: black;
}

.product-card p{
    font-family: 'Roboto Slab', serif;
    color: black;
}


.footer{
    width: 100vw;
    height: 100px;
    background-color: black;
}
.footer-media{
    display: flex;
    justify-content: space-around;
    width: 90vw;
    margin: auto;
}
.footer-media img{
    width: 50px;
    height: 50px;
}
.footer-media p{
    color: white;
    font-size: 12px;
    float: right;
}

@media screen and (min-width:320px) and (max-width:480px){
    .cardsbg{
        position: absolute;
        width: 2000px;
        height: 1096px;
        top: 80px;
        margin: 0;
    }
    .cards{
        flex-direction: column;
    }
    .navbar-links a{
        margin-right: 10px;
    }
    .navbar-links{
        width: 80vw;
    }
    .navbar-register{
        width: 10vw;
    }
    .features{
        flex-direction: column;
    }
    .RDNA{
        height: 1250px;
    }
}