@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

.navbar{
    padding: 20px;
    background-color: black;
    width: 100vw;
    height: 80px;
}
.navbar-links{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 30vw;
}
.navbar-links img{
    height: 50px;
    align-self: flex-start;
    
}
.navbar-links a{
    color: #fff;
    justify-content: flex-start;
    font-size: 20px;
    margin-top: 7px;
    text-decoration: none;
}
.navbar-register{
    display: flex;
    width: 5vw;
    height: 60px;
}
.header{
    width: 100vw;
    height: 160px;
    padding: 50px;
}
.header p{
    font-size: 36px;
    font-family: 'Roboto Slab', serif;
}

.video-bg{
    min-width: 100%;
    min-height: 100%;
    max-width: 100vw;
    width: auto;
    height: auto;
    display: flex;
}
.paragraph{
    font-family: 'Roboto Slab', serif;
    position: absolute;
    color: white;
    width: 600px;
    height: 300px;
    bottom: 70px;
    right: 40px;
    z-index: 12;
}
.paragraph-bg{
    position: absolute;
    opacity: 70%;
    background-color: black;
    width: 600px;
    height: 300px;
    bottom: 90px;
    right: 50px;
    z-index: 0;
}

.footer{
    width: 100vw;
    height: 100px;
    background-color: black;
}
.footer-media{
    display: flex;
    justify-content: space-around;
    width: 90vw;
    margin: auto;
}
.footer-media img{
    width: 50px;
    height: 50px;
}
.footer-media p{
    color: white;
    font-size: 12px;
    float: right;
}