<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'resources/free-amd-3215362-2673780.png' %}"/>
</head>

<body>
    <div class="navbar">
        <div class="navbar-links">
            <a href="main.html"><img src="{% static 'resources/Screenshot_1.png' %}" alt="AMD Logo"></img></a>
            <a href="#cards">Products</a>
            <a href="RDNA.html">RDNA</a>
            <a href="#footer">Contact Us</a>
            <a href="cart.html">
                <img src="{% static 'resources/Без имени-1.jpg' %}" alt="Cart">
            </a>
        </div>
        <div class="navbar-register">
            <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{% static 'resources/Безымянный.png' %}" alt="Account">
            </a>
            <ul id="registerwindow" class="dropdown-menu">
                <li><a class="dropdown-item" href="login.html">Log In</a></li>
                <li><a class="dropdown-item" href="register.html">Sign In</a></li>
            </ul>
        </div>
    </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <div class="footer" id="footer">
        <div class="footer-media">
            <a href="https://www.facebook.com/AMD/">
                <img src="{% static 'resources/Screenshot_5.png' %}" alt="Facebook">
            </a>
            <a href="https://twitter.com/amd">
                <img src="{% static 'resources/Screenshot_6.png' %}" alt="Twitter">
            </a>
            <a href="https://www.instagram.com/amd">
                <img src="{% static 'resources/Screenshot_7.png' %}" alt="Instagram">
            </a>
            <a href="https://www.linkedin.com/company/amd">
                <img src="{% static 'resources/Screenshot_8.png' %}" alt="LinkedIn">
            </a>
            <a href="https://www.amd.com/en/preferences.html">
                <img src="{% static 'resources/Screenshot_9.png' %}" alt="Preferences">
            </a>
            <a href="https://www.youtube.com/user/amd?sub_confirmation=1">
                <img src="{% static 'resources/Screenshot_10.png' %}" alt="YouTube">
            </a>
            <a href="https://www.twitch.tv/amd">
                <img src="{% static 'resources/Screenshot_11.png' %}" alt="Twitch">
            </a>
            <p>© 2024 Advanced Micro Devices, Inc.</p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>