{% extends "home.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'static/main.css' %}">
{% endblock %}

{% load static %}

{% block title %}AMD Radeon™ RX Graphics Series{% endblock %}

{% block content %}

<div class="header">
    <h1>AMD Radeon™ RX Graphics Cards</h1>
    <h2>Game. Stream. Advance.</h2>
</div>

<div class="cards" id="cards">
    <div class="card">
        <h2>RX 500 SERIES</h2>
        <a href="series">
            <img src="{% static 'resources/AMD_Radeon_RX_590.png' %}" alt="">
        </a>
        <p>LEARN MORE</p>
    </div>
    <div class="card">
        <h2>RX 5000 SERIES</h2>
        <a href="series">
            <img src="{% static 'resources/placa-video-asus-radeon-rx-5700-radeonrx57008gb-dag27C-L.jpg' %}" alt="">
        </a>
        <p>LEARN MORE</p>
    </div>
    <div class="card">
        <h2>RX 6000 SERIES</h2>
        <a href="series">
            <img src="{% static 'resources/6800XT.jpg' %}" alt="">
        </a>
        <p>LEARN MORE</p>
    </div>
    <div class="card">
        <h2>RX 7000 SERIES</h2>
        <a href="series">
            <img src="{% static 'resources/AMD-RADEON-RX-7900XTX-19.jpeg' %}" alt="">
        </a>
        <p>LEARN MORE</p>
    </div>
</div>

<div class="RDNA" id="RDNA">
    <div class="feature-block">
        <h2>Game. Stream. Advance.</h2>
        <p>Built on the groundbreaking AMD RDNA™ 3 architecture, AMD Radeon™ RX 7000 Series graphics deliver next-generation performance, visuals, and efficiency.</p>
    </div>

    <div class="features">
        <div class="feature">
            <img src="{% static 'resources/Screenshot_2.png' %}" alt="">
            <h3>Game</h3>
            <p>Advanced AMD RDNA™ 3 Compute Units featuring Raytracing and AI Acceleration</p>
        </div>
        <div class="feature">
            <img src="{% static 'resources/Screenshot_3.png' %}" alt="">
            <h3>Stream</h3>
            <p>Redesigned media engine featuring AV1 Encoding, optimized for OBS</p>
        </div>
        <div class="feature">
            <img src="{% static 'resources/Screenshot_4.png' %}" alt="">
            <h3>Advance</h3>
            <p>Advanced desktop experiences with AMD Smart technologies & AMD Software</p>
        </div>
    </div>
    <a href="rdna" class="h"><p class="feature-more" href="#">LEARN MORE ABOUT RDNA 3</p></a>
</div>

<div class="random-gap"></div>

{% endblock %}