{% extends "home.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'static/RDNA.css' %}">
{% endblock %}

{% block title %}AMD Radeon™ RX Graphics Series{% endblock %}

{% block content %}

<div class="header">
    <p>AMD RDNA™ Architecture</p>
</div>

<div class="video-bg">
    <div class="paragraph">
        <h2>AMD RDNA™ Architecture</h2>
        <p>The AMD RDNA™ architecture is designed for the next generation of efficient high-performance gaming. It’s the DNA that powers your games, the DNA that brings your games to life, the DNA that keeps evolving. Experience next-generation advancements in performance and efficiency with the new AMD RDNA™ 3 architecture, featured in the AMD Radeon™ RX 7000 Series graphics.</p>
    </div>
    <div class="paragraph-bg"></div>
    
    <video preload="none" autoplay loop muted="muted">
        <source src="https://download.amd.com/video/navi-3x-motion-hero-chip.mp4">
    </video>

{% endblock %}