{% extends "home.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profile.css' %}"> 
{% endblock %}

{% block content %}
<h2>Профиль пользователя</h2>
<p>Добро пожаловать, {{ user.username }}!</p>

<h3>Ваши заказы:</h3>
<ul>
    {% for order in cart %}
        <li>Заказ №{{ order.id }} от {{ order.created_at }}</li>
    {% empty %}
        <li>У вас нет заказов.</li>
    {% endfor %}
</ul>

<p><a href="{% url 'users:password_change' %}">Сменить пароль</a></p>
<form action="{% url 'users:logout' %}" method="post" style="display: inline;">
    {% csrf_token %}
    <button type="submit" style="background: none; border: none; color: blue; text-decoration: underline; cursor: pointer;"> Выйти</button>
</form>


{% endblock %}
