

<!-- users/templates/users/register.html -->
{% extends "home.html" %}
{% load static %}

{% block title %}Создание аккаунта AMD Radeon™ RX{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'register.css' %}">  <!-- CSS для страницы регистрации -->
{% endblock %}

{% block content %}
<h1>Создание аккаунта AMD</h1>

<form method="post" class="registration" id="registration">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="form-control"  id="name">
        <p>
            <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label> <br>
            {{ form.username }}
            {{ form.username.errors }}
        </p>

    </div>

    <div class="form-control" id="email">
        <p>        
            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label> <br>
            {{ form.email }}
            {{ form.email.errors }}
        </p>

    </div>

    <div class="form-control" type="password">
        <p>
            <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label> <br>
            {{ form.password }}
            {{ form.password.errors }}
        </p>

    </div>

    <div class="form-control" id="password">
        <p>
            <label for="{{ form.password_confirm.id_for_label }}">{{ form.password_confirm.label }}</label> <br>
            {{ form.password_confirm }}
            {{ form.password_confirm.errors }}
        </p>

    </div>

    <div class="form-control" id="password">
        <p>
            {{ form.captcha }}
        </p>

    </div>

    <button type="submit" class="btn">Зарегистрироваться</button>
    

</form>
{% endblock %}
