{% extends "base.html" %}
{% load static %}

{% block title %}AMD Radeon™ RX Graphics Series{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'register.css' %}">

<form class="registration" id="registration">
    <h1>AMD Account Creation</h1>
    <p>Email:</p>
    <input id="email" type="email" class="form-control" placeholder="name@example.com">

    <p>Name:</p>
    <input id="name" type="text" class="form-control" placeholder="Jane Doe">

    <p>Password:</p>
    <input type="password" class="form-control" placeholder="*********">

    <p>Confirm password:</p>
    <input id="password" type="password" class="form-control" placeholder="*********">

    <button type="submit" class="btn">Submit</button>
</form>

{% endblock %}